body {
    margin-top: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
    margin-right: 1vh;
    margin-left: 1vh;

}

#main-content {
    margin: auto;
}

#ui-controls {
    float: left;    
}

#theme-controls {
    float: right;
}

.minimal-button {
    padding: 1vh;
    margin-left: 1vh;
}

#main-controls {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#address-div {
    float: left;
}

#pool-selection-div {
    float: left;
}

#temp-limit-div {
    float: left;
}

#button-div {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}